<h3 class="text-center ">Добавить точку</h3>
<div class="container-lg">
  <div id="map"></div>
  <p>Координаты точки: <div id=coords></div></p>
  <%= form_for @point do |f| %>
    <%= render 'points/form', f: f %>
  <% end %>
</div>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBm2rSuphVK9QJyiyPkd4LN1SQj7yeMnw0&region=RU&&libraries=places"></script>
<style>
    #map {
        height: 400px;
        width: 100%;
    }
</style>
<script>

    let map, infoWindow;
    var pos;
    var marker;
    function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: -34.397, lng: 150.644 },
            zoom: 19,
        });
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(
                    (position) => {
                        pos = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude,
                        };
                        map.setCenter(pos);
                        pos = new google.maps.LatLng(pos.lat, pos.lng);
                        setMarker();
                        updateFields();
                    },
                    () => {
                        handleLocationError(true, infoWindow, map.getCenter());
                    }
                );
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }

    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(
            browserHasGeolocation
                ? "Error: The Geolocation service failed."
                : "Error: Your browser doesn't support geolocation."
        );
        infoWindow.open(map);
    }

    initMap();

    function setMarker() {
        marker = new google.maps.Marker(
            {
                map: map,
                draggable: true,
                animation: google.maps.Animation.DROP,
                position: pos
            });

        google.maps.event.addListener(marker, 'dragend', function () {
            updateFields();
        });
    }
    function updateFields() {
        $('#coords').html(marker.getPosition().lat() + ', ' + marker.getPosition().lng())
        $('#form_lat').val(marker.getPosition().lat())
        $('#form_lon').val(marker.getPosition().lng())
    }


</script>